{erl_opts, [debug_info, {src_dirs, ["test"]}]}.
{lfe_first_files, []}.
{deps_dir, ["deps"]}.
{eunit_compile_opts, [
   {src_dirs, ["test"]}
  ]}.
{deps, [
   {lfe, ".*", {git, "git://github.com/lfe/lfe.git", "color-shell-banner"}},
   {lutil, ".*", {git, "https://github.com/lfex/lutil.git", {tag, "0.6.2"}}},
   {ltest, ".*", {git, "git://github.com/lfex/ltest.git", {tag, "0.6.0"}}}
  ]}.
